*,
body {
  margin: 0;
  padding: 0;
}
span {
  color: red;
}

.title {
  color: green;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input,
button {
  width: 150px;
}
